* {    padding: 0%;
    margin: 0%;   
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 193, 209);;}
.header {    
    text-align: center;
}
.img-center {
    text-align: center;}
.img-right {    text-align: right;
}
.img-left {
    text-align: left;}
p {
    width: 868px;    height: 57px;
}
