* {
    box-sizing: border-box;
  }
  
  :root {
    --body-color: #212529;
  
    --light-font-color: #fff;
    --dark-font-color: #212529;
  
    --accent-color: #ffb742;
    --not-accent-color: #d4d4d4;
    --hover-background-color: rgba(255, 183, 66, 0.5);
  
    --primary-font-family: "Inter", sans-serif;
    --secondary-font-family: "Poppins", sans-serif;
    --thrid-font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px; 
  }
  
  body {
    background-color: var(--body-color);
    font-family: var(--sec-font-family);
  
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
  
    color: var(--light-font-color);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  button {
    cursor: pointer;
  }
  
  header {
    padding: 40px 0px 40px 0px;
    margin-bottom: 68px;
  }
  
  .big-wrapper {
    
    width: 93%;
    margin: 0 auto;
  }
  
  .be-flex {
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 720px) {
    .be-flex {
      flex-direction: column;
      gap: 30px;
    }
    .logo {
      align-self: flex-start;
    }
  
    nav {
      padding: 30px 0px 30px 0px;
    }
  }
  
  .big-wrapper.be-flex {
    justify-content: space-between;
  }
  
  .be-flex ul {
    gap: 25px;
  }
  
  .hire-btn {
    background-color: var(--accent-color);
    padding: 12px 26px;
    border-radius: 50px;
    border: 2px solid var(--accent-color);
  }
  
  .hire-btn:hover {
    background-color: var(--hover-background-color);
    color: white;
    border: 2px solid transparent;
  }
  
  .nav-links {
    color: #fff;
    font-family: var(--secondary-font-family);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  
  .nav-links:hover {
    color: var(--accent-color);
  }
  
  .hero-section {
    margin-bottom: 134px;
  }
  
  .greeting {
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 50.753px; 
  }
  
  .greeting-span {
    color: var(--accent-color);
    text-decoration-line: underline;
  }
  
  h1 {
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 90.85px; 
    text-transform: capitalize;
    margin-bottom: 25px;
  }
  
  .my-services {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.753px; 
    text-transform: capitalize;
    margin-bottom: 22px;
  }
  
  .avatar {
    text-align: center;
    margin: 0 auto;
  }
  
  .benefits {
    margin-bottom: 216px;
  }
  
  .benefits-thumb {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
  
    background-color: #292b2e;
    border-radius: 10px;
    padding: 25px 0px;
  
    cursor: pointer;
  }
  
  @media screen and (max-width: 720px) {
    .benefits-thumb {
      width: 80%;
    }
  }
  
  .benefits-thumb:hover {
    background: linear-gradient(
      94deg,
      #ffb742 0%,
      rgba(255, 123, 66, 0.76) 99.33%
    );
  }
  
  .benefits-thumb:hover .digit {
    color: var(--body-color);
  }
  
  .benefits-thumb:hover .benefit-description {
    color: var(--body-color);
  }
  
  .digit {
    color: #ffb742;
  
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 126.023%; 
    text-transform: capitalize;
  }
  
  .benefit-description {
    font-family: var(--primary-font-family);
    font-weight: 700;
    line-height: 193.023%;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 920px) {
    .benefit-description {
      font-size: 12px;
    }
  }
  
  .hero-section {
    margin-bottom: 112px;
  }
  
  .horizontal-container {
    justify-content: space-between;
  }
  
  @media screen and (max-width: 720px) {
    .horizontal-container {
      justify-content: center;
    }
  }
  
  .img-wrapper {
    width: 36%;
  }
  
  @media screen and (max-width: 720px) {
    .img-wrapper {
      width: 100%;
    }
  }
  
  .img-wrapper img {
    width: 100%;
  }
  
  .hero-description {
    width: 47%;
  }
  
  h3 {
    display: inline-block;
  
    color: var(--accent-color);
    font-family: var(--secondary-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px; 
    text-transform: uppercase;
  
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.08);
  
    padding: 6px 25px;
  
    margin-bottom: 24px;
  }
  
  h2 {
    max-width: 518px;
  
    font-family: var(--thrid-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
  
    margin-bottom: 35px;
  }
  
  .description-text {
    color: var(--not-accent-color);
    font-family: var(--secondary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    max-width: 672px;
  
    margin-bottom: 54px;
  }
  
  @media screen and (max-width: 720px) {
    .hero-description {
      width: 90%;
    }
  
    h2 {
      text-align: center;
    }
  
    h3 {
      text-align: center;
      display: block;
    }
  
    .hero-description .hire-btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .skills {
    margin-bottom: 96px;
  }
  
  .skills-thumb {
    width: 51%;
  }
  
  @media screen and (max-width: 720px) {
    .skills-thumb {
      width: 90%;
      margin-bottom: 35px;
    }
  }
  
  @media screen and (max-width: 720px) {
    .skills-thumb .hire-btn {
      display: block;
      margin: 0 auto;
    }
  }
  
  .stack-list {
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 608px;
  }
  
  @media screen and (max-width: 720px) {
    .stack-list {
      width: 100%;
      justify-content: center;
    }
  }
  
  .stack-item {
    background-color: #383e45;
    border-radius: 10px;
    padding: 16px 16px;
    min-width: 80px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .stack-item:hover {
    background: rgba(255, 183, 66, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .features {
    margin-bottom: 125px;
  }
  
  .features-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-bottom: 48px;
  }
  
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  
  .filter-button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-family: var(--secondary-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 30px; 
  
    padding: 5px 20px;
  }
  
  .active {
    border-radius: 3px;
    background-color: #ffb742;
  }
  
  .images-thumb {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  
  .column-thumb {
    display: flex;
    row-gap: 28px;
    flex-direction: column;
    width: 30%;
  }
  
  @media screen and (max-width: 720px) {
    .column-thumb {
      width: 100%;
    }
  }
  
  .column-thumb img {
    border-radius: 5px;
  }
  
  .testemonials-section {
    margin-bottom: 253px;
  }
  
  .testemonials-header-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
  }
  
  .testemonials-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  
  .testemonials-item {
    
    color: #000;
    font-family: var(--secondary-font-family);
  
    background-color: var(--light-font-color);
    padding: 50px 52px 50px 33px;
  }
  
  @media screen and (max-width: 1240px) {
    .testemonials-list {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  
  .stars-list {
    display: flex;
    gap: 10px;
    color: gold;
  
    margin-bottom: 21px;
  }
  
  .testemonial-text {
    max-width: 294px;
  
    font-size: 20px;
    font-weight: 400;
    line-height: 34px; 
  
    margin-bottom: 36px;
  }
  
  .user-data {
    display: flex;
  }
  
  .user-data img {
    margin-right: 24px;
  }
  
  .user-info {
    gap: 24px;
  }
  
  .user-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 34px; 
  }
  
  .user-profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 34px; 
  }
  
  footer {
    background-color: #1c1c1c;
    padding: 148px 0px 90px 0px;
  
    font-family: var(--secondary-font-family);
  }
  
  .top-flex-position {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 720px) {
    .top-flex-position {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      gap: 45px;
    }
  }
  
  .me-in-footer {
    color: var(--accent-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%; 
  
    margin-bottom: 30px;
  }
  
  .my-profession {
    color: var(--not-accent-color);
    font-weight: 600;
    line-height: 32.38px; 
  
    max-width: 254px;
  }
  
  @media screen and (max-width: 720px) {
    .me-in-footer {
      text-align: center;
    }
  
    .my-profession {
      text-align: center;
    }
  }
  
  h5 {
    color: #f5fbf2;
    font-size: 22px;
    font-weight: 700;
    line-height: 31.887px; 
  
    margin-bottom: 20px;
  }
  
  .links-item a {
    color: #7b7b7b;
    font-size: 18px;
    font-weight: 500;
    line-height: 37px;
  }
  
  .links-item a:hover {
    color: var(--accent-color);
  }
  
  .feedback {
    color: #7b7b7b;
    font-size: 18px;
    font-weight: 500;
    line-height: 36.422px; 
  
    max-width: 320px;
  }
  
  @media screen and (max-width: 720px) {
    .footer-links-container {
      text-align: center;
    }
  }